<section id="{{ section.section_id }}" class="page-section bg-dark text-white {{ section.background_style }}">
  <div class="container text-center sm:w-50 mx-auto">
    <h2 class="mb-4">{{ section.title }}!</h2>
    <hr class="divider my-4">
    <form id="contact-form" method="POST" netlify-honeypot="bot-field" data-netlify="true">
      <div class="text-left">
        <label for="bot-field"><input name="bot-field" /></label>
      {% for input in section.inputs %}
        <label for="{{input.title}}">{{input.label}}</label>
        {% if input.type == 'textarea' %}
          <textarea class="form-control" name="{{input.title}}" required="{{input.required}}" placeholder="{{input.placeholder}}" rows="5"></textarea>
        {% else %}
          <input class="form-control" type="{{input.type}}" name="{{input.title}}" required="{{input.required}}" placeholder="{{input.placeholder}}">
        {% endif %}
        <br>
      {% endfor %}
      </div>
      <br>
      <button class="btn btn-xl js-scroll-trigger {{ action.class | default: "btn-primary" }}" type="submit">Submit Form</button>
    </form>
  </div>
</section>
